<div class="navbar-villa85">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-villa85-brand" do %>
  <%= image_tag "https://res.cloudinary.com/greggstyle/image/upload/v1532592349/Villa85/LOGO.jpg", height: 50 %>
  <% end %>

  <div>
    <%#= link_to "Menus", menu_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <%#= link_to "Contact", contact_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Nous trouver", direction_path, class: "navbar-villa85-item navbar-villa85-link" %>
    <%#= link_to "About", about_path, class: "navbar-wagon-item navbar-wagon-link" %>

  </div>
</div>
