<div class="navbar-bar-resto-villa-85">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-bar-resto-villa-85-brand" do %>
  <%= image_tag "https://res.cloudinary.com/greggstyle/image/upload/v1532592349/Villa85/LOGO.jpg", height: 50 %>
  <% end %>

  <div>
    <%#= link_to "Menus", menu_path, class: "navbar-bar-resto-villa-85-item navbar-bar-resto-villa-85-link" %>

    <%= link_to "Contact", contact_index_path, class: "navbar-bar-resto-villa-85-item navbar-bar-resto-villa-85-link" %>
    <%= link_to "Direction", direction_path, class: "navbar-bar-resto-villa-85-item navbar-bar-resto-villa-85-link" %>
    <%#= link_to "About", about_path, class: "navbar-bar-resto-villa-85-item navbar-bar-resto-villa-85-link" %>

  </div>
</div>
