<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/greggstyle/image/upload/v1534882588/Villa85/HP-La-bar-restaurant-villa-85-drinks-horizons.jpg');">
  <div class="banner-content">
    <h1>Villa 85</h1>
    <p> </p>
<!--     <p>
      <span id="banner-typed-text"></span>
    </p> -->
    <!--     <a class="btn btn-primary btn-lg" href="/contact">La Carte</a> -->
  </div>
</div>
